ul {
    padding-left: 47%;
}

html {
    background-color: rgba(131, 148, 174, 0.47);
}

.tooltip {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff88;
    color: #000000;
    text-align: center;
    opacity: 0;
    transition: .3s opacity;
}

#popup {
    border-radius: 20px;
}

line.source {
    stroke: red;
}

line.target {
    stroke: blue;
}

line.both {
    stroke: purple;
}

#backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(8px);
}

#returnButton {
    position: absolute;
    left: 50%;
    display: none;
}